<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="consoleOut" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%m%n" />
		</layout>
	</appender>
	
	<appender name="mainLogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="File" value="logs/arma-cli.log"/>
		<param name="DatePattern" value="'_'yyyyMMdd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%m%n" />
		</layout>
	</appender> 
	
	<logger name="com.arma.web">
		<level value="debug"/>
	</logger>

	<root>
		<priority value ="info" />
		<appender-ref ref="consoleOut"/>
		<appender-ref ref="mainLogFile" />
	</root>
</log4j:configuration>
